<div class="display-area">
    <div class="editor-header">
        @if (editing()) {
            <button class="btn active-button" (click)="save()" [disabled]="saveBatch().length === 0 && deleteBatch().length === 0">
                Save
            </button>
            <button class="btn active-button" (click)="stopEditing()">
                Cancel
            </button>
            <app-search-volumes (selectVolume)="addVolume($event)" />
        }
        @else {
            <button class="btn inactive-button" (click)="editing.set(true)">Edit</button>
        }
    </div>

    <div class="volume-row">
        <div class="cover-image"></div>
        <div class="cell w260" style="display: block;">
            <div class="text al_center header">Name</div>
            <input type="text" class="text" (change)="filterName.set(getEventVal($event))">
        </div>
        <div class="cell w60" style="display: block;">
            <div class="text al_center header">Category</div>
            <input type="text" class="text" (change)="filterCategory.set(getEventVal($event))">
        </div>
        <div class="cell w50" style="display: block;">
            <div class="text al_center header">Volume</div>
            <input type="text" class="text" (change)="filterVolume.set(getEventVal($event))">
        </div>
        <div class="cell w60" style="display: block;">
            <div class="text al_center header">Cost</div>
            <input type="number" min="0" step="0.01" class="text" (change)="filterCost.set(getEventVal($event))">
        </div>
        <div class="cell w75" style="display: block;">
            <div class="text al_center header">Merchant</div>
            <input type="text" class="text" (change)="filterMerchant.set(getEventVal($event))">
        </div>
        <div class="cell w90" style="display: block;">
            <div class="text al_center header" style="font-size: 10pt;">Purchase Date</div>
            <input type="text" class="text" (change)="filterPurchaseDate.set(getEventVal($event))">
        </div>
        <div class="cell w50" style="display: block;">
            <div class="text al_center header">Read</div>
            <input type="text" class="text" (change)="filterRead.set(getEventVal($event))">
        </div>
        <div class="cell w50" style="display: block;">
            <div class="text al_center header">Gift</div>
            <input type="text" class="text" (change)="filterGiftToMe.set(getEventVal($event))">
        </div>
        <div class="cell w150" style="display: block;">
            <div class="text al_center header">Tags</div>
            <input type="text" class="text" (change)="filterTags.set(getEventVal($event))">
        </div>
    </div>

    <div class="volumes">

        @if (filteredVolumes(); as volumes) {
            @for (volume of volumes; track $index) {
                @defer (on viewport) {
                    <div class="volume-row" [ngClass]="volumeRowClass(volume)">
                        <img [src]="volume.primary_cover_image_url" alt="{{'cover image for' + volume.name}}" class="cover-image"
                            (click)="showVolumeDetails(volume)" (keypress)="selectedVol.set(volume)" tabindex={$index}>
                        <div class="cell w260">
                            <a class="text t-wrap" [href]="volume.series_data.url" target="_blank">{{volume.name}}</a>
                        </div>
                        <div class="cell w60">
                            <div class="text al_center">{{volume.category | titlecase}}</div>
                        </div>
                        <div class="cell w50">
                            <div class="text al_center">{{volume.volume}}</div>
                        </div>
                        <div class="cell w60">
                            @if (editing()) {
                                <input type="number" min="0" step="0.01" class="text" 
                                    [value]="volume.user_collection_data[0].cost" (change)="edit($index, 'cost', $event)">
                            }
                            @else {
                                <div class="text al_right">
                                    {{volume.user_collection_data[0].cost | currency}}
                                </div>
                            }
                        </div>
                        <div class="cell w75">
                            @if (editing()) {
                                <input type="text" class="text"  [value]="volume.user_collection_data[0].merchant"
                                    (change)="edit($index, 'merchant', $event)">
                            }
                            @else {
                                <div class="text al_center">
                                    {{volume.user_collection_data[0].merchant}}
                                </div>
                            }
                        </div>
                        <div class="cell w90">
                            @if (editing()) {
                                <input type="text" class="text"  [value]="volume.user_collection_data[0].purchaseDate"
                                    (change)="edit($index, 'purchaseDate', $event)">
                            }
                            @else {
                                <div class="text al_center">
                                    {{volume.user_collection_data[0].purchaseDate}}
                                </div>
                            }
                        </div>
                        <div class="cell w50">
                            <input type="checkbox" class="green-checkbox al_center" [checked]="volume.user_collection_data[0].read"
                                [disabled]="!editing()" (change)="edit($index, 'read', $event)">
                        </div>
                        <div class="cell w50">
                            <input type="checkbox" class="blue-checkbox al_center" [checked]="volume.user_collection_data[0].giftToMe"
                                [disabled]="!editing()" (change)="edit($index, 'giftToMe', $event)">
                        </div>
                        <div class="cell w150">
                            @if (editing()) {
                                <input type="text" class="text t-wrap"  [value]="volume.user_collection_data[0].tags.join(', ')"
                                    (change)="edit($index, 'tags', $event)">
                            }
                            @else {
                                <div class="text t-wrap">
                                    {{volume.user_collection_data[0].tags.join(', ')}}
                                </div>
                            }
                        </div>
                        @if (editing()) {
                            <div class="cell w50">
                                <button class="btn active-button" (click)="markForDelete(volume.user_collection_data[0])">
                                    X
                                </button>
                            </div>
                        }
                    </div>

                    @defer (on viewport) {
                        <div [ngClass]="volumeIsSelected(volume) ? 'grow-container' : 'shrink-container'">
                            @if (volumeIsSelected(volume)) {
                                <div class="volume-details" style="overflow: hidden">
                                    <div style="height: inherit; font-size: 88%;">
                                        <img [src]="volume.primary_cover_image_url" alt="{{'cover image for' + volume.name}}" class="cover-image">
                                        <div class="text">
                                            <span class="subject">Added to Your Collection:</span>
                                            {{volume.user_collection_data[0].inserted | date}}
                                        </div>
                                        <div class="text">
                                            <span class="subject">Updated in Your Collection:</span>
                                            {{volume.user_collection_data[0].updated | date}}
                                        </div>
                                        <div class="text">
                                            <span class="subject">Added to Library:</span>
                                            {{volume.record_added_date | date}}
                                        </div>
                                        <div class="text">
                                            <span class="subject">Updated in Library:</span>
                                            {{volume.record_updated_date | date}}
                                        </div>
                                    </div>
                                    <div class="volume-details-area">
                                        <a class="text title t-wrap" [href]="volume.url" target="_blank">{{volume.display_name}}</a>
                                        <div class="text t-wrap">
                                            <span class="subject">Series: </span>
                                            @if (volume.series) { {{volume.series}} }
                                            @else { <span class="text-g">Unknown</span> }
                                        </div>
                                        <hr>
                                        <div class="text t-wrap" style="display: block">
                                            <span class="subject">Description: </span>
                                            @if (volume.description) { {{volume.description}} }
                                            @else { <span class="text-g">None</span> }
                                        </div>
                                        <hr>
                                        <div class="flex">
                                            <div class="detail-section">
                                                <div class="text">
                                                    <span class="subject">Author(s): </span>
                                                    @if (volume.authors) { {{volume.authors}} }
                                                    @else { <span class="text-g">Unknown</span> }
                                                </div>
                                                <div class="text">
                                                    <span class="subject">Release Date: </span>
                                                    @if (volume.release_date) { {{volume.release_date | date}} }
                                                    @else { <span class="text-g">Unknown</span> }
                                                </div>
                                                <div class="text">
                                                    <span class="subject">Cost: </span>
                                                    {{volume.user_collection_data[0].cost | currency}}
                                                    <span class="text retail-price text-g">{{volume.retail_price | currency}}</span>
                                                </div>
                                                <div class="text">
                                                    <span class="subject">Publisher: </span>
                                                    @if (volume.publisher) { {{volume.publisher}} }
                                                    @else { <span class="text-g">Unknown</span> }
                                                </div>
                                            </div>
                                            <div class="detail-section">
                                                <div class="text">
                                                    <span class="subject">Format: </span>
                                                    @if (volume.format) { {{volume.format}} }
                                                    @else { <span class="text-g">Unknown</span> }
                                                </div>
                                                <div class="text">
                                                    <span class="subject">Pages: </span>
                                                    @if (volume.pages) { {{volume.pages}} }
                                                    @else { <span class="text-g">Unknown</span> }
                                                </div>
                                                <div class="text">
                                                    <span class="subject">ISBN (13): </span>
                                                    {{volume.isbn}}
                                                </div>
                                                <div class="text">
                                                    <span class="subject">ISBN (10): </span>
                                                    @if (volume.isbn_10) { {{volume.isbn_10}} }
                                                    @else { <span class="text-g">Unknown</span> }
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        @if (volume.brand) { 
                                            <div class="text t-wrap">Checkout more from <span style="text-decoration: underline;">{{volume.brand}}</span></div>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    }
                    @placeholder {
                        <div></div>
                    }
                }
                @placeholder {
                    <div style="display: flex; margin: 10px; background-color: rgb(12, 17, 24); border-radius: 5px; height: 30px;"></div>
                }
            }
        }
    </div>
</div>
