@media screen {}

.collection-viewport {
    width: 62vw;
    margin: auto;
    background-color: #252529;
    /* background-color: #282828; #2a2835*/
}

.img-link {
    background: no-repeat;
    background-size: 30px;
    padding: 0;
    margin: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    outline: none;
    border: none;
}

.img-link:hover {
    filter: brightness(1.2);
}

.img-link:active {
    filter: brightness(1.4);
}





:host {
    --item-background-color: #252529;
    --item-mute-text-color: #4d64df;
    /* var(--item-mute-text-color); */
}


.display-area {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.editor-header {
    display: flex;
    width: 100%;
    background-color: var(--item-background-color);
    margin-bottom: 10px;
}

.btn {
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 10px;
    margin: 8px;
    cursor: pointer;
}

.inactive-button {
    background-color: var(--item-background-color);
    color: var(--item-mute-text-color);
    border-color: var(--item-mute-text-color);
}

.active-button {
    background-color: var(--item-mute-text-color);
    color: var(--item-background-color);
    border-color: var(--item-mute-text-color);
}

.volumes {
    overflow: auto;
    height: calc(100vh - 146px);
    /*66px*/
    width: 100vw;
    /* min-width: 1012px; */
}

.volume-row {
    display: flex;
    margin: 10px auto;
    background-color: var(--item-background-color);
    border-radius: 5px;
    height: 60px;
    width: fit-content;
}

.cell {
    display: flex;
    margin: 5px;
    min-width: 50px;
    /* background-color: #252529; */
    cursor: pointer;
    border: transparent 2px solid;
}

.w260 {
    width: 260px;
}

.w150 {
    width: 150px;
}

.w90 {
    width: 90px;
}

.w50 {
    width: 50px;
}

.w60 {
    width: 60px;
}

.w75 {
    width: 75px;
}

.cell:hover {
    border: var(--item-mute-text-color) 2px solid;
}

.text {
    color: white;
    align-content: center;
    margin: auto 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

input {
    background: #0c1118;
    border: 2px solid black;
    border-radius: 4px;
    color: white;
    width: -webkit-fill-available;
    outline: none;
}

input:focus-visible {
    transition: ease-in 0.1s;
    outline: 2px solid white;
}

input:disabled {
    color: white
}

.al_center {
    text-align: center;
    margin: auto;
}

.al_right {
    text-align: right;
    width: 100%;
}

.cover-image {
    height: 100%;
    min-height: 60px;
    aspect-ratio: 1 / 1.45;
    object-fit: cover;
}