<div class="flex space-between mt-20">
    <div>
        @if (userService.canUserEdit()) { @if (isEditing()) {
        <button
            class="btn active-button"
            (click)="save()"
            [disabled]="saveBatch().length === 0 && deleteBatch().length === 0"
        >
            Save
        </button>
        <button class="btn active-button" (click)="stopEditing()">
            Cancel
        </button>
        <app-search-volumes (selectVolume)="addVolume($event)" />
        } @else {
        <button class="btn inactive-button" (click)="editSwitch.set(true)">
            Edit
        </button>
        } }
        <div class="grid grid-cols-[min-content_auto] gap-3 h-fit w-72 m-8">
            <!-- Filter Name -->
            <div class="text text-sm w-fit">Name</div>
            <input
                type="text"
                class="text mc-input"
                (change)="filterName.set(getEventVal($event))"
            />

            <!-- Filter Category -->
            <div class="text text-sm w-fit">Category</div>
            <select
                class="mc-input text-white"
                (change)="filterCategory.set(getEventVal($event))"
            >
                <option class="text-white" value="">Filter by Category</option>
                @for (category of availableCategories; track $index) {
                <option class="text-white" [value]="category">
                    {{ category ?? "[BLANK]" | titlecase }}
                </option>
                }
            </select>

            <!-- Filter Volume -->
            <div class="text text-sm w-fit">Volume</div>
            <input
                type="text"
                class="text mc-input"
                (change)="filterVolume.set(getEventVal($event))"
            />

            <!-- Filter Cost -->
            <div class="text text-sm w-fit">Cost</div>
            <input
                type="number"
                min="0"
                step="0.01"
                class="text mc-input"
                [(ngModel)]="filterCost"
            />

            <!-- Filter Merchant -->
            <div class="text text-sm w-fit">Merchant</div>
            <select class="mc-input text-white" [(ngModel)]="filterStore">
                <option class="text-white" value="">Filter by Merchant</option>
                @for (store of availableStores; track $index) {
                <option class="text-white" [value]="store">
                    {{ store ?? "[BLANK]" }}
                </option>
                }
            </select>

            <!-- Filter Purchase Date -->
            <div class="text text-sm w-fit" style="font-size: 10pt">
                Purchase Date
            </div>
            <input
                type="date"
                class="text mc-input"
                [(ngModel)]="filterPurchaseDate"
            />

            <!-- Filter Read -->
            <div class="text text-sm w-fit">Read</div>
            <input
                type="checkbox"
                class="green-checkbox al_center"
                [(ngModel)]="filterRead"
                [checked]="filterRead()"
            />

            <!-- Filter Tags -->
            <div class="mt-1 text-sm w-fit text-white">Tags</div>
            <app-tag-list
                [filterTags]="filterTags()"
                [editMode]="true"
                (updateTags)="filterTags.set($event)"
            ></app-tag-list>
        </div>
    </div>

    <div class="flex justify-center w-full m-4">
        <div class="w-full overflow-auto" style="height: calc(100vh - 112px)">
            @if (collections$ | async; as collections) { @for (collection of
            collections; track $index) { @defer (on viewport) {
            <!-- TODO remove hardcoded color -->
            <div
                class="volume-row bg-zinc-800 hover:scale-[1.01] hover:bg-[#37373a]"
            >
                <!-- TODO [ngClass]="volume.edited ? 'volume-row edited-row' : 'volume-row'" -->
                <img
                    [src]="collection.volume.primary_cover_image"
                    appLazyImage
                    alt="{{ 'cover image for' + collection.volume.name }}"
                    class="cover-image cursor-pointer"
                    (click)="openVolumeDetails(collection.volume.isbn)"
                    (keypress)="openVolumeDetails(collection.volume.isbn)"
                    tabindex="{$index}"
                />
                <div class="cell w260">
                    <a
                        class="text t-wrap"
                        [href]="collection.volume.series.url"
                        target="_blank"
                        >{{ collection.volume.name }}</a
                    >
                </div>
                <div class="cell w60">
                    <div class="text al_center">
                        {{ collection.volume.category | titlecase }}
                    </div>
                </div>
                <div class="cell w50">
                    <div class="text al_center">
                        {{ collection.volume.volume }}
                    </div>
                </div>
                <div class="cell w60">
                    @if (isEditing()) {
                    <input
                        type="number"
                        min="0"
                        step="0.01"
                        class="text"
                        [value]="collection.cost"
                        (change)="doEdit($index, 'cost', $event)"
                    />
                    } @else {
                    <div class="text al_right">
                        {{ collection.cost | currency }}
                    </div>
                    }
                </div>
                <div class="cell w75">
                    @if (isEditing()) {
                    <input
                        type="text"
                        class="text"
                        [value]="collection.store"
                        (change)="doEdit($index, 'merchant', $event)"
                    />
                    } @else {
                    <div class="text al_center">
                        {{ collection.store }}
                    </div>
                    }
                </div>
                <div class="cell w90">
                    @if (isEditing()) {
                    <input
                        type="text"
                        class="text"
                        [value]="collection.purchase_date"
                        (change)="doEdit($index, 'purchaseDate', $event)"
                    />
                    } @else {
                    <div class="text al_center">
                        {{ collection.purchase_date }}
                    </div>
                    }
                </div>
                <div class="cell w50">
                    <input
                        type="checkbox"
                        class="green-checkbox al_center"
                        [checked]="collection.read"
                        [disabled]="!isEditing()"
                        (change)="doEdit($index, 'read', $event)"
                    />
                </div>
                <div class="cell w150 items-center">
                    <app-tag-list
                        [filterTags]="collection.tags"
                        [editMode]="isEditing()"
                        (updateTags)="editTags($index, $event)"
                    >
                    </app-tag-list>
                </div>
                @if (isEditing()) {
                <div class="cell w50">
                    <button
                        class="btn-sm inactive-button"
                        (click)="markForDelete(collection)"
                    >
                        X
                    </button>
                </div>
                }
            </div>
            } @placeholder {
            <div
                style="
                    display: flex;
                    margin: 10px;
                    background-color: rgb(12, 17, 24);
                    border-radius: 5px;
                    height: 30px;
                "
            ></div>
            } } }
        </div>
    </div>
</div>
