<div class="m-4 flex flex-col items-center gap-4">
  <form class="flex w-full max-w-2xl items-start gap-3">
    <input
      type="text"
      pInputText
      pSize="small"
      [(ngModel)]="filterName"
      placeholder="Search Volumes by Name..."
      class="flex-1"
    />
    <!-- TODO icon button for advanced filter popover -->
    <!-- todo fix form to submit on enter key -->
    <p-button size="small" (click)="submitFilter()">Search</p-button>
  </form>
  <div #display_items class="mx-auto grid grid-cols-5 gap-4 max-lg:grid-cols-4 max-sm:grid-cols-2">
    @for (item of items$ | async; track item.item_id; let i = $index) {
      @defer (on viewport) {
        <div
          class="relative aspect-[1/1.45] w-40 cursor-pointer rounded-lg bg-cover bg-center shadow-lg transition-transform duration-300 hover:scale-105 max-lg:w-[calc(25vw-2rem)] max-sm:w-[calc(50vw-2rem)]"
          [style.background-image]="'url(' + item.volume.primary_cover_image + ')'"
          (click)="openVolumeDetails(item.isbn)"
          (keypress)="openVolumeDetails(item.isbn)"
          tabindex="{$index}"
        >
          <div class="absolute top-1 right-1 flex flex-col items-end gap-1">
            @if (item.promotion_percentage) {
              <p-tag class="w-fit border-green-500 bg-[#2f4f4fd4] font-semibold text-green-300">
                {{ item.promotion_percentage }}% off
              </p-tag>
            }
            @switch (item.stock_status) {
              @case ('Pre-Order') {
                <p-tag class="w-fit border-orange-500 bg-[#4f3f2fd4] font-semibold text-orange-300">
                  Pre-Order
                </p-tag>
              }
              @case ('Backorder') {
                <p-tag class="w-fit border-violet-500 bg-[#422f4fd4] font-semibold text-violet-300">
                  Backorder
                </p-tag>
              }
              @case ('Out of Print') {
                <p-tag class="w-fit border-gray-500 bg-[#4d4d4dd4] font-semibold text-gray-300">
                  Out of Print
                </p-tag>
              }
            }
          </div>
          <!-- TODO can this be removed? -->
          <div class="peer h-full w-full opacity-0"></div>
          <div
            class="text-shadow absolute bottom-0 h-fit w-full bg-[#00000077] stroke-black p-1 pt-8 text-left text-base opacity-100 shadow-black transition-opacity duration-300 select-none peer-hover:opacity-0 hover:opacity-0"
          >
            {{ item.volume.display_name }}
          </div>
        </div>
      } @placeholder {
        <p-skeleton
          class="aspect-[1/1.45] w-40 max-lg:w-[calc(25vw-2rem)] max-sm:w-[calc(50vw-2rem)]"
          height="100%"
          borderRadius="var(--radius-lg)"
        ></p-skeleton>
      }
    }
  </div>
  <div class="my-4 flex justify-center gap-3">
    <!-- TODO pagination -->
    <p-button size="small" (click)="previous()" [disabled]="disablePrevious()">Previous</p-button>
    <p-button size="small" (click)="next()">Next</p-button>
  </div>
</div>
