<div>
    <table>
        <tbody>
            <tr>
                <th></th>
                <th></th>
                <th class="list-left-col">Name</th>
                <th>Vol</th>
                <th>Format</th>
                <th>Cost</th>
                <th>Store</th>
                <th>Date</th>
                <th>Read</th>
                <th></th>
            </tr>
            @for (volume of volumes$ | async; track volume.id) {
            <tr class="volume-row" (mouseover)="volume.hovered = true" (focus)="volume.hovered = true"
                (mouseleave)="volume.hovered = false">
                <td [style.background-color]="getStateColor(volume)"></td>
                <td>
                    <img [src]="volume.primary_cover" alt="Primary cover image for {{volume.name}}"
                        class="volume-cover">
                </td>
                <td>
                    <p class="volume-title">{{volume.name}}</p>
                </td>
                <td class="list-center-col">
                    <p>{{volume.volume}}</p>
                </td>
                <td class="list-center-col">
                    <p>{{volume.format}}</p>
                </td>
                <td class="list-right-col">
                    <p>{{volume.cost | currency}}</p>
                </td>
                <td class="list-center-col">
                    <p>{{volume.merchant}}</p>
                </td>
                <td class="list-center-col">
                    <p>{{volume.purchaseDate}}</p>
                </td>
                <td class="list-center-col">
                    <mat-checkbox color="accent" [(ngModel)]="volume.read"></mat-checkbox>
                </td>
                <td class="list-center-col list-edit">
                    <button class="menu-button" [hidden]="!volume.hovered" [@fade]="volume.hovered"
                        (click)="edit(volume)">...</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>