<!-- <div class="collection-viewport">
    <div class="nav-buttons">
        <a routerLink="series">
            <img src="../../assets/img/series-icon.png" alt="navigate to series icon" class="img-link">
        </a>
        <a routerLink="list">
            <img src="../../assets/img/list-icon.png" alt="navigate to list icon" class="img-link">
        </a>
        <a routerLink="grid">
            <img src="../../assets/img/grid-icon.png" alt="navigate to grid icon" class="img-link">
        </a>
    </div>
    <router-outlet></router-outlet>
</div> -->