@media screen {
    
}.collection-viewport {
    width: 62vw;
    margin: auto;
    background-color: #252529;
    /* background-color: #282828; #2a2835*/
}

.img-link {
    background: no-repeat;
    background-size: 30px;
    padding: 0;
    margin: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    outline: none;
    border: none;
}

.img-link:hover {
    filter: brightness(1.2);
}

.img-link:active {
    filter: brightness(1.4);
}