.collection-viewport {
  width: 62vw;
  margin: auto;
  background-color: #252529;
  /* #282828; #2a2835 */
}

.img-link {
  background: no-repeat;
  background-size: 30px;
  padding: 0;
  margin: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  outline: none;
  border: none;
}

.img-link:hover {
  filter: brightness(1.2);
}

.img-link:active {
  filter: brightness(1.4);
}

/* ignore above for now */

.editor-header {
  display: flex;
  /* width: 100%; */
  background-color: var(--item-background-color);
  margin-bottom: 10px;
}

.volume-row {
  display: flex;
  margin: 10px auto;
  /* background-color: var(--item-background-color); */
  border-radius: 5px;
  height: 60px;
  width: fit-content;
  box-shadow:
    0 4px 6px rgb(0 0 0 / 80%),
    0 1px 3px rgb(0 0 0 / 50%);
}

.volume-row-selected {
  background-color: var(--item-background-color-selected);
}

.edited-row {
  box-shadow:
    0 0 10px rgb(255 255 255 / 20%),
    0 0 5px rgb(95 147 255);
  transition: box-shadow 0.3s ease-in;
}

.volume-details {
  display: flex;
  width: 60vw;
  margin: auto;
  height: fit-content;
}

.volume-details-area {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 8px;
}

.header {
  font-size: 10pt;
}

.title {
  font-size: 130%;
}

.subject {
  font-size: 75%;
  font-style: italic;
  color: #c6c6c6;
  margin-right: 3px;
}

.detail-section {
  margin-right: auto;
}

.w260 {
  width: 260px;
}

.w150 {
  width: 150px;
}

.w90 {
  width: 90px;
}

.w50 {
  width: 50px;
}

.w60 {
  width: 60px;
}

.w75 {
  width: 75px;
}

hr {
  width: 100%;
  border-color: #a6a6a6;
}
