.series-viewport {
    height: calc(100vh - 4em);
    width: calc(100vw - 3em);
    /* border: 1px solid black; */
    margin-top: 3em;
    margin-left: 1em;
}

.series-item {
    display: flex;
    min-height: 30vh;
    margin-top: 16px;
    max-width: 70em;
}

.series-volume {
    width: 5vh;
    height: 5vh;
    max-width: 2em;
    max-height: 2em;
    margin: 5px;
    text-align: center;
    line-height: 5vh;
    border-radius: 6px;
    box-shadow: 2px 2px 14px 1px rgb(0 0 0 / 56%);
    font-family: var(--manga-font);
    font-size: 3vh;
}