<div class="mt-28 flex justify-between">
    <div class="grid grid-cols-[min-content_auto] gap-3 h-fit w-72 m-8">
        <div class="text text-sm text-nowrap">In Stock</div>
        <input type="checkbox" class="green-checkbox ml-3" [checked]="filterInStock()"
            (change)="filterInStock.set(!filterInStock())">
        <div class="text text-sm text-nowrap">Hide Clearance</div>
        <input type="checkbox" class="green-checkbox ml-3" [checked]="filterNoClearance()"
            (change)="filterNoClearance.set(!filterNoClearance())">
        <div class="text text-sm text-nowrap">Only Clearance</div>
        <input type="checkbox" class="green-checkbox ml-3" [checked]="filterClearance()"
            (change)="filterClearance.set(!filterClearance())">
    </div>
    <div class="flex flex-wrap justify-center w-fit overflow-auto" style="height: calc(100vh - 112px);">
        @for (volume of filteredVolumes(); track volume.isbn; let i = $index) {
            @defer (on viewport) {
                <div class="relative h-60 m-3 rounded-lg shadow-lg bg-cover"
                    style="aspect-ratio: 1 / 1.45;"
                    [style.background-image]="'url(' + volume.primary_cover_image_url + ')'">
                    <span class="absolute top-1 right-1 pl-1 pr-1 bg-[#2f4f4fd4] border-2 border-green-500 rounded-md text-green-300 font-semibold shadow-lg">
                        {{ volume.sale_price }}% off
                    </span>
                </div>
            }
            @placeholder {
                <div class="h-60 rounded-lg shadow-lg"
                    style="aspect-ratio: 1 / 1.45;">

                </div>
            }
        }
    </div>
</div>
