<div class="text-xs italic">{{ title() }}</div>
<!-- <form>
    <input
        type="text"
        [formControl]="control"
        [matAutocomplete]="auto"
        class="mc-input"
    />
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option value="">All</mat-option>
        @for (item of filteredList | async; track item) {
            <mat-option [value]="item">
                <span>{{ item }}</span>
            </mat-option>
        }
    </mat-autocomplete>
</form> -->
<p>Not working -- replace with prime</p>
