<div class="mt-28 flex justify-between">
    <div class="h-fit w-36 m-8 text-white text-sm text-nowrap">
        <!-- Filter Title -->
        <div class="text-xs italic">Title</div>
        <input type="text" class="mc-input" [(ngModel)]="filterTitle" />

        <!-- Filter Category -->
        <app-autofill-select-filter
            title="Category"
            [list]="(options$('category') | async) ?? []"
            [(ngModel)]="filterCategory"
        ></app-autofill-select-filter>

        <!-- Filter Status -->
        <app-autofill-select-filter
            title="Release Status"
            [list]="(options$('status') | async) ?? []"
            [(ngModel)]="filterStatus"
        ></app-autofill-select-filter>

        <!-- Filter Genres -->
        <app-autofill-select-filter
            title="Genre"
            [list]="(options$('genres') | async) ?? []"
            [(ngModel)]="filterGenre"
        ></app-autofill-select-filter>

        <!-- Filter Themes -->
        <app-autofill-select-filter
            title="Theme"
            [list]="(options$('themes') | async) ?? []"
            [(ngModel)]="filterTheme"
        ></app-autofill-select-filter>

        <!-- Filter Authors -->
        <app-autofill-select-filter
            title="Author"
            [list]="(options$('authors') | async) ?? []"
            [(ngModel)]="filterAuthor"
        ></app-autofill-select-filter>

        <!-- Filter Publishers -->
        <app-autofill-select-filter
            title="Publisher"
            [list]="(options$('publishers') | async) ?? []"
            [(ngModel)]="filterPublisher"
        ></app-autofill-select-filter>

        <!-- Filter Rating -->
        <app-number-range-filter
            title="Rating"
            [max]="10"
            [step]="0.01"
            [(ngModel)]="filterRating"
        ></app-number-range-filter>

        <!-- Search -->
        <button
            class="block inactive-button mt-5 mr-auto border-solid border-2 rounded-md p-2 cursor-pointer w-fit"
            (click)="submitFilter()"
        >
            Search
        </button>
    </div>

    <div
        #display_items
        id="display_items"
        class="flex justify-center w-full ml-4 mr-4 text-white"
    >
        <div
            class="main-grid grid gap-y-2 overflow-auto"
            style="height: calc(100vh - 112px)"
        >
            @for (series of series$ | async; track $index) {
                <div
                    class="sub-grid big-shadow grid grid-cols-subgrid col-start-2 col-end-8 h-16 w-full items-center gap-2 rounded-md drop-shadow-2xl bg-zinc-800 hover:scale-[1.01] hover:bg-[#37373a]"
                >
                    @defer (on viewport) {
                        <img
                            [src]="series.cover_image"
                            appLazyImage
                            alt="{{ 'cover image for' + series.title }}"
                            (click)="openSeriesDetails(series.series_id)"
                            (keypress)="openSeriesDetails(series.series_id)"
                            tabindex="{$index}"
                            class="cover-image cursor-pointer"
                        />
                    } @placeholder {
                        <div class="cover-image"></div>
                    }
                    <div class="c c-text">
                        <p class="tw-3">{{ series.title }}</p>
                        <div
                            class="flex gap-1 text-xs text-lime-950 text-nowrap font-semibold"
                        >
                            @for (genre of series.genres; track genre) {
                                <p
                                    class="pl-1 pr-1 leading-4 rounded-md bg-lime-500"
                                >
                                    {{ genre }}
                                </p>
                            }
                        </div>
                    </div>
                    <div class="text al_center c c-text">
                        {{ series.category }}
                    </div>
                    <div class="text al_center c c-text">
                        {{ series.status }}
                    </div>
                </div>
            } @empty {
                <p class="text">Loading...</p>
            }
        </div>
        <!-- <div class="flex justify-center gap-3 m-8">
            <button
                class="active-button mr-1 border-solid border-2 rounded-md p-2 cursor-pointer w-fit"
                (click)="previous()"
                [disabled]="disablePrevious()"
            >
                Previous
            </button>
            <button
                class="active-button ml-1 border-solid border-2 rounded-md p-2 cursor-pointer w-fit"
                (click)="next()"
            >
                Next
            </button>
        </div> -->
    </div>
</div>
