<div class="display-area">

    <div class="series">

        @if (series(); as allSeries) {
            @for (series of allSeries; track $index) {
                <!-- @defer (on viewport) { -->
                    <div class="series-row">
                        @defer (on viewport) {
                            <img [src]="series.cover_image" alt="{{'cover image for' + series.title}}" class="cover-image"
                                (click)="showVolumeDetails(series)" (keypress)="selectedSeries.set(series)" tabindex={$index}>
                        }
                        @placeholder {
                            <div class="cover-image"></div>
                        }
                        <div class="c c-text">
                            <a class="text tw tw-3" [href]="series.url" target="_blank">{{series.title}}</a>
                        </div>
                        <div class="text al_center c c-text">{{series.category}}</div>
                        <div class="text al_center c c-text">{{series.status}}</div>
                        <input type="checkbox" class="blue-checkbox al_center c" [checked]="series.series_id">
                        <div class="flex flex-wrap c c-f">
                            @for (volume of series.volumes; track $index) {
                                <div class="volume-mini-box" [ngStyle]="getVolumeStatusColor(volume)"
                                    (click)="navTo(volume.url)" (keypress)="navTo(volume.url)" tabindex={$index}>
                                    <span>{{volume.volume}}</span>
                                </div>
                            }
                        </div>
                    </div>

                    @defer (on viewport) {
                        @if (seriesIsSelected(series)) {
                            <div [ngClass]="seriesIsSelected(series) ? 'series-volumes grow-container' : 'shrink-container'">
                                @for (volume of series.volumes; track $index) {
                                    @defer (on viewport) {
                                        <div class="vol-cover">
                                            <img [src]="volume.primary_cover_image_url" alt="{{'cover image for' + series.title}}"
                                                class="cover-image vol-cover-image">
                                            <div class="text al_center vol-cover-text">{{volume.display_name}}</div>
                                        </div>
                                    }
                                    @placeholder {
                                        <div class="vol-cover"></div>
                                    }
                                }
                            </div>
                        }
                    }
                    @placeholder {
                        <div></div>
                    }
                <!-- }
                @placeholder {
                    <div style="display: flex; margin: 10px; background-color: rgb(12, 17, 24); border-radius: 5px; height: 30px;"></div>
                } -->
            }
        }

    </div>
</div>
