<div class="flex">
    <div class="search-box">
        <input type="text" class="search-input" placeholder="search volume..." [(ngModel)]="searchText">
        @if (searchResults$ | async; as results) {
            <div class="select-area">
                @for (option of results; track $index) {
                    <div class="option flex">
                        <img [src]="option.primary_cover_image_url" alt="{{'cover image for' + option.name}}"
                            class="cover-image">
                        <div class="option-text">
                            <div class="text">{{option.display_name}}</div>
                            <div class="text option-series-text">{{option.series}}</div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
    <button class="btn active-button" (click)="search.set(searchText)" [disabled]="searchText === search()">
        Search
    </button>
</div>
