.login-area {
  background-color: var(--item-background-color);
  padding: 20px;
}

.login-title {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.login-form {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.login-input {
  font-size: 100%;
  padding: 6px;
}

.login-button {
  margin: 8px auto;
}

.login-input-invalid {
  font-size: 88%;
  font-style: italic;
  margin-bottom: 12px;
  position: relative;
  z-index: 1;
}

.login-invalid-text {
  display: inline-block;
  translate: 0 0;
  animation: drop-in 0.3s ease-in;
}

.login-error {
  text-align: center;
  font-size: inherit;
}

@keyframes drop-in {
  0% {
    translate: 0 -25px;
    opacity: 0;
  }

  100% {
    translate: 0 0;
    opacity: 1;
  }
}
