<router-outlet></router-outlet>


<!-- <div style="margin: auto; max-width: calc(100vw - 15px);">
    @for (series of series$ | async; track series.series_id) {
    <div style="display: flex; margin: 10px; background-color: rgb(12, 17, 24); border-radius: 5px; height: 30px;">
        <div style="margin-right: 10px;">
            <img [src]="getCoverImage(series) | async" alt="cover image of first volume in series"
                style="height: 100%;">
        </div>
        <span class="text">{{series.title}}</span>
        <span class="text">{{series.type}}</span>
        <span class="text">{{series.series_match_confidence}}</span>

        <div class="flex-wrap" style="margin-top: 2px;">
            @for (volume of series.volumes; track volume.isbn) {
            <button mat-button class="series-volume" [ngStyle]="getVolumeStyle(volume) | async">
                {{volume.volume}}
            </button>
            }
        </div>
    </div>
    }
</div> -->