<div class="app-header flex">
    <div class="flex">
        <h1 class="text">Manga Collector</h1>
        <button id="browse-sales" class="nav-button text" (click)="routeTo('sales')">Browse Sales</button>
        @if (userService.userDataIsValid()) {
            <button id="my-series" class="nav-button text" (click)="routeToUserPage('series')">My Series</button>
            <button id="my-collection" class="nav-button text" (click)="routeToUserPage('collection')">My Volumes</button>
        }
    </div>
    <div>
        <!-- user icon -->
        @if (userService.userDataIsValid()) {
            <button id="sign-out" class="nav-button text" (click)="userService.logout()">Sign Out</button>
        }
        @else {
            <button id="log-in" class="nav-button text" (click)="callOpenLogin()">Login</button>
        }
    </div>
</div>
