/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';
@import '@angular/cdk/overlay-prebuilt.css';
@import 'primeicons/primeicons.css';
@plugin "tailwindcss-primeui";
@custom-variant dark (&:where([data-theme="dark"] *));

/* @custom-variant dark {
  &:where([data-theme="dark"] *) {
    @slot;
  }
} */

/* TODO replace default colors with tw colors */
:root {
  --manga-font:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
  --background-color: rgb(12, 17, 24);
  --background-color-contrast: #19212d;
  --item-background-color: #252529;
  --item-mute-text-color: #4d64df;
  --item-background-color-brightened: #484856;
  --item-background-color-selected: #37373d;
}

body {
  /* background-color: #292929; */
  background-color: var(--background-color);
  margin: 0;
}

.big-shadow {
  box-shadow:
    0px 4px 6px rgba(0, 0, 0, 0.8),
    0px 1px 3px rgba(0, 0, 0, 0.5);
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.display-area {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 15px;
  /* margin-top: 75px; */
}

.block {
  display: block;
}

.cell {
  display: flex;
  margin: 5px;
  min-width: 50px;
}

.text {
  color: var(--text-color);
  align-content: center;
  margin: auto 0;
  font-family: var(--manga-font);
}

.t-wrap,
.tw,
.tw-2,
.tw-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  /* text-overflow: ellipsis; */
}

.t-wrap,
.tw-2 {
  -webkit-line-clamp: 2;
}

.tw-3 {
  -webkit-line-clamp: 3;
}

.inactive-button {
  /* background-color: var(--item-background-color); */
  color: var(--item-mute-text-color);
  border-color: var(--item-mute-text-color);
}

.active-button {
  background-color: var(--item-mute-text-color);
  color: var(--item-background-color);
  border-color: var(--item-mute-text-color);
}

.active-button:disabled,
.inactive-button:disabled {
  filter: saturate(0);
}

.link-button {
  background: none;
  border: none;
  color: #007ba3;
  text-decoration: underline;
  cursor: pointer;
  width: fit-content;
  margin: 6px auto;
}

.collection-icon {
  color: #06090c !important;
  margin: 0;
}

.cover-image {
  height: 100%;
  min-height: 60px;
  aspect-ratio: 1 / 1.45;
  object-fit: cover;
}

.text-g {
  color: #868686;
}

.error-text {
  color: rgb(184, 72, 72);
}

.retail-price {
  text-decoration: line-through;
  font-style: italic;
  font-size: 80%;
  display: inline;
}

.grow-container {
  overflow-y: hidden;
  animation: grow 0.3s ease-in;
}

@keyframes grow {
  0% {
    height: 0px;
  }

  100% {
    height: 410px;
  }
}

.shrink-container {
  height: 0px;
  visibility: hidden;
  /* animation: shrink 0.3s ease-in; */
}

@keyframes shrink {
  0% {
    height: 410px;
  }

  100% {
    height: 0px;
  }
}

/* .header-button {
    border: 2px solid rgb(189, 189, 189) !important;
    background-color: rgb(243, 243, 243) !important;
}

.separator {
    height: 38px;
    padding: 1px;
    background-color: darkgray;
    margin: 0 6px
}

.nav-buttons {
    text-align: right;
    margin-right: 10px
}*/

/* width */
::-webkit-scrollbar {
  width: 14px;
  height: 12px;
  transition: background-color 0.3s ease-in;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #626262;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3a3d43;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4b4f56;
}

/* dark theme variables */
/* @theme {
  --color-primary: #a9a6d6;
  --color-primary-100: #d4d2ea;
  --color-primary-200: #a9a6d6;
  --color-primary-300: #7e79c1;
  --color-primary-400: #554eaa;
  --color-primary-500: #3e3a7e;
  --color-primary-600: #322e65;
  --color-primary-700: #25234b;
  --color-primary-800: #191732;
  --color-primary-900: #0c0c19;

  --color-secondary: #96b795;
  --color-secondary-100: #dce7dc;
  --color-secondary-200: #b9cfb9;
  --color-secondary-300: #96b795;
  --color-secondary-400: #739f72;
  --color-secondary-500: #588157;
  --color-secondary-600: #466645;
  --color-secondary-700: #344c34;
  --color-secondary-800: #233323;
  --color-secondary-900: #111911;

  --color-surface: #1a1a1a;
  --color-surface-100: #0e0e0e;
  --color-surface-200: #151515;
  --color-surface-300: #1a1a1a;
  --color-surface-400: #202020;
  --color-surface-500: #262626;
  --color-surface-600: #333333;
  --color-surface-700: #3d3d3d;
  --color-surface-800: #484848;
  --color-surface-900: #555555;

  --color-on: #f5f5f4;
  --color-on-100: #fdfdfd;
  --color-on-200: #fbfbfb;
  --color-on-300: #f9f9f9;
  --color-on-400: #f7f7f6;
  --color-on-500: #f5f5f4;
  --color-on-600: #c7c7c1;
  --color-on-700: #98988d;
  --color-on-800: #67675d;
  --color-on-900: #33332f;

  --color-success: #92d296;
  --color-success-100: #ddf0dd;
  --color-success-200: #b8e0bb;
  --color-success-300: #92d296;
  --color-success-400: #6cc470;
  --color-success-500: #4caf50;
  --color-success-600: #3f7740;
  --color-success-700: #2f592f;
  --color-success-800: #1f3b1f;
  --color-success-900: #0f1d0f;

  --color-warn: #fec871;
  --color-warn-100: #ffedd0;
  --color-warn-200: #fedaa0;
  --color-warn-300: #fec871;
  --color-warn-400: #fdb541;
  --color-warn-500: #fca311;
  --color-warn-600: #d68502;
  --color-warn-700: #a16402;
  --color-warn-800: #6b4201;
  --color-warn-900: #362101;

  --color-error: #e98a8a;
  --color-error-100: #f8d0d0;
  --color-error-200: #f1adad;
  --color-error-300: #e98a8a;
  --color-error-400: #e16767;
  --color-error-500: #d64545;
  --color-error-600: #b83c3c;
  --color-error-700: #8a2d2d;
  --color-error-800: #5c1e1e;
  --color-error-900: #2e0f0f;

  --color-info: #8bb6f9;
  --color-info-100: #dff0fe;
  --color-info-200: #b5d0fb;
  --color-info-300: #8bb6f9;
  --color-info-400: #619bf8;
  --color-info-500: #3b82f6;
  --color-info-600: #295aa8;
  --color-info-700: #1f437e;
  --color-info-800: #142d54;
  --color-info-900: #0a162a;
} */

/* light theme variables */
/* @theme {
  --color-primary: #3e3a7e;
  --color-primary-100: #0c0c19;
  --color-primary-200: #191732;
  --color-primary-300: #25234b;
  --color-primary-400: #322e65;
  --color-primary-500: #3e3a7e;
  --color-primary-600: #554eaa;
  --color-primary-700: #7e79c1;
  --color-primary-800: #a9a6d6;
  --color-primary-900: #d4d2ea;

  --color-secondary: #588157;
  --color-secondary-100: #111911;
  --color-secondary-200: #233323;
  --color-secondary-300: #344c34;
  --color-secondary-400: #466645;
  --color-secondary-500: #588157;
  --color-secondary-600: #739f72;
  --color-secondary-700: #96b795;
  --color-secondary-800: #b9cfb9;
  --color-secondary-900: #dce7dc;

  --color-surface: #f5f5f4;
  --color-surface-100: #33332f;
  --color-surface-200: #67675d;
  --color-surface-300: #98988d;
  --color-surface-400: #c7c7c1;
  --color-surface-500: #f5f5f4;
  --color-surface-600: #f7f7f6;
  --color-surface-700: #f9f9f9;
  --color-surface-800: #fbfbfb;
  --color-surface-900: #fdfdfd;

  --color-on: #010400;
  --color-on-100: #000100;
  --color-on-200: #010200;
  --color-on-300: #010300;
  --color-on-400: #010400;
  --color-on-500: #010400;
  --color-on-600: #1b6a00;
  --color-on-700: #34cf00;
  --color-on-800: #68ff35;
  --color-on-900: #b3ff9a;

  --color-success: #4caf50;
  --color-success-100: #0f1d0f;
  --color-success-200: #1f3b1f;
  --color-success-300: #2f592f;
  --color-success-400: #3f7740;
  --color-success-500: #4caf50;
  --color-success-600: #6cc470;
  --color-success-700: #92d296;
  --color-success-800: #b8e0bb;
  --color-success-900: #ddf0dd;

  --color-warn: #fca311;
  --color-warn-100: #362101;
  --color-warn-200: #6b4201;
  --color-warn-300: #a16402;
  --color-warn-400: #d68502;
  --color-warn-500: #fca311;
  --color-warn-600: #fdb541;
  --color-warn-700: #fec871;
  --color-warn-800: #fedaa0;
  --color-warn-900: #ffedd0;

  --color-error: #d64545;
  --color-error-100: #2e0f0f;
  --color-error-200: #5c1e1e;
  --color-error-300: #8a2d2d;
  --color-error-400: #b83c3c;
  --color-error-500: #d64545;
  --color-error-600: #e16767;
  --color-error-700: #e98a8a;
  --color-error-800: #f1adad;
  --color-error-900: #f8d0d0;

  --color-info: #3b82f6;
  --color-info-100: #0a162a;
  --color-info-200: #142d54;
  --color-info-300: #1f437e;
  --color-info-400: #295aa8;
  --color-info-500: #3b82f6;
  --color-info-600: #619bf8;
  --color-info-700: #8bb6f9;
  --color-info-800: #b5d0fb;
  --color-info-900: #dff0fe;
} */
